/* Styles reset block. Start */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  text-shadow: 0 0;
}

select,
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 0 0 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  border: none;
}

.header__mobile-wrapper {
  display: none;
}

/* Styles reset block. End */
/* Common Styles. Start */
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a:hover {
  text-decoration: underline;
}

.top, .for, .offers, .catalog {
  width: 100%;
  margin-bottom: 64px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Common Styles. End */
.top {
  background-image: url("./img/main_top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 735px;
}

.top__content {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__search {
  width: 288px;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  outline: none;
}

.header__search::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.header__search:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.header__search::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.header__search::placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  gap: 32px;
}

.navigation__links li a {
  color: #FFFFFF;
}

.facade {
  padding-top: 64px;
}

.facade__link {
  color: #FFFFFF;
}

.facade__heading {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}

.facade__slogan {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.facade__link {
  font-size: 16px;
  line-height: 24px;
}

.main {
  max-width: 1200px;
}

.for__heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
}

.for__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 415px;
      grid-template-rows: 415px;
  grid-auto-rows: 415px;
  gap: 32px;
}

.for__content a:hover {
  text-decoration: none;
}

.for__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  grid-column: span 4;
  text-transform: uppercase;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.for__item:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.for__item:hover:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 0 8px #fff, 0 0 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 8px #fff, 0 0 10px 15px rgba(0, 0, 0, 0.3);
}

.for__item:nth-of-type(1), .for__item:nth-of-type(2) {
  grid-column: span 6;
}

.for__item-relax {
  background-image: url("./img/for/Relax.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.for__item-work {
  background-image: url("./img/for/work.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.for__item-kitchen {
  background-image: url("./img/for/kitchen.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.for__item-kids {
  background-image: url("./img/for/kids.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.for__item-bath {
  background-image: url("./img/for/bath.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offers__heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.offers__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
}

.offers__item {
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.offers__item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 0 8px #fff, 0 0 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 8px #fff, 0 0 10px 15px rgba(0, 0, 0, 0.3);
}

.offers__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 8px;
}

.offers__name:hover, .offers .catalog__name:hover {
  text-decoration: underline;
}

.offers__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  height: 100%;
}

.offers__price--now {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.offers__price--before {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
  color: #888888;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.catalog__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
}

.catalog__item {
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.catalog__item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 0 8px #fff, 0 0 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 8px #fff, 0 0 10px 15px rgba(0, 0, 0, 0.3);
}

.catalog__img {
  margin-bottom: 10px;
}

.catalog__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 8px;
}

.catalog__desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  height: 100%;
}

.catalog__price--now {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.catalog__price--before {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: line-through;
  color: #888888;
}

.footer {
  background-color: #f7f6f6;
  height: 175px;
  padding-top: 32px;
  width: 100%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__logo a img {
  -webkit-filter: invert(180);
          filter: invert(180);
}

.footer__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.footer__links {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  list-style-type: none;
}

.footer__socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.footer__links li, .footer__socials li {
  margin-top: 12px;
}

.footer__links li a {
  color: #888888;
}

.footer__socials li a img:hover {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.subscribe__input {
  background-color: #FFFFFF;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.subscribe__input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.subscribe__input:-ms-input-placeholder {
  color: #C4C4C4;
}

.subscribe__input::-ms-input-placeholder {
  color: #C4C4C4;
}

.subscribe__input::placeholder {
  color: #C4C4C4;
}

.subscribe__btn {
  background-color: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  color: #000000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.subscribe__btn:hover {
  background-color: #000000;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
}

.subscribe__btn:active {
  text-shadow: 0 0;
}

.top-catalog {
  background-image: url("./img/catalog_top.jpg");
  height: 400px;
}

.facade-catalog {
  padding-top: 126px;
}

.catalog-catalog {
  margin-top: 0px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.options__breadcrumbs {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.options__breadcrumbs li a,
.options__breadcrumbs li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.options__breadcrumbs li a:hover {
  text-decoration: underline;
}

.options__breadcrumbs li::after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  -webkit-columns: inherit;
          columns: inherit;
}

.options__breadcrumbs li:last-child::after {
  content: "";
}

.options__select-sort {
  padding: 0.62em 1em 0.62em 1em;
}

.options__select-sort:hover {
  cursor: pointer;
}

.options__select-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  width: 288px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__select-wrapper::after {
  content: "";
  width: 1.25em;
  height: 0.69em;
  background-color: #000000;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  pointer-events: none;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.options__select-wrapper::after, .options__select-sort {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

button:active {
  text-shadow: 0 0;
}

.top-cart {
  background-image: url("./img/cart_top.jpg");
  height: 400px;
}

.facade-cart {
  padding-top: 126px;
}

.cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-bottom: 64px;
}

.goods {
  grid-column: span 8;
}

.goods__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14px;
  border-bottom: 0.5px solid #CACDD8;
}

.goods__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-columns: (70px)[2] (1fr)[6];
      grid-template-columns: repeat(2, 70px) repeat(6, 1fr);
  grid-auto-rows: 173px;
  gap: 32px;
  margin: 24px 0 0 0;
  padding: 0 0 32px 0;
  border-bottom: 0.5px solid #CACDD8;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-transition: none;
  transition: none;
}

.goods__item:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.goods__item:last-child {
  border-bottom: none;
}

.goods__img {
  display: block;
  grid-column: span 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.goods__info {
  grid-column: span 3;
}

.goods__name {
  display: block;
  margin: 0 0 14px 0;
}

.goods__desc {
  margin: 0 0 16px 0;
  height: auto;
}

.goods__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods__price--now {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.goods__item-interact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.goods__item-btn--favorite:hover, .goods__item-btn--delete:hover {
  cursor: pointer;
}

.goods__item-qty {
  -ms-grid-column: -2;
      grid-column-start: -2;
  grid-column-end: -1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 50px;
  width: 70px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  color: #000000;
  border: 0;
  background: #F7F6F6;
  border-radius: 6px;
}

.goods__cart-interact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.goods__cart-btn--empty, .goods__cart-btn--continue {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 0.62em 0 0.62em 0;
  width: 200px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.goods__cart-btn--empty:hover, .goods__cart-btn--continue:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
}

.ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: span 4;
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  padding: 42px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ordering__heading {
  text-align: center;
  margin-bottom: 34px;
}

.ordering__form {
  margin-bottom: 64px;
}

.ordering__form input {
  border-bottom: 1px solid #CACDD8;
  margin-bottom: 40px;
}

.ordering__form input:hover {
  cursor: text;
}

.ordering__total-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ordering__total {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 1ex;
  width: 145px;
}

@-webkit-keyframes btn-attention {
  0% {
    -webkit-box-shadow: 0 0 0px rgba(80, 80, 80, 0);
            box-shadow: 0 0 0px rgba(80, 80, 80, 0);
  }
  80% {
    -webkit-box-shadow: 0 0 50px rgba(80, 80, 80, 0);
            box-shadow: 0 0 50px rgba(80, 80, 80, 0);
  }
  90% {
    -webkit-box-shadow: 0 0 50px rgba(80, 80, 80, 0.5);
            box-shadow: 0 0 50px rgba(80, 80, 80, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0px rgba(80, 80, 80, 0);
            box-shadow: 0 0 0px rgba(80, 80, 80, 0);
  }
}

@keyframes btn-attention {
  0% {
    -webkit-box-shadow: 0 0 0px rgba(80, 80, 80, 0);
            box-shadow: 0 0 0px rgba(80, 80, 80, 0);
  }
  80% {
    -webkit-box-shadow: 0 0 50px rgba(80, 80, 80, 0);
            box-shadow: 0 0 50px rgba(80, 80, 80, 0);
  }
  90% {
    -webkit-box-shadow: 0 0 50px rgba(80, 80, 80, 0.5);
            box-shadow: 0 0 50px rgba(80, 80, 80, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0px rgba(80, 80, 80, 0);
            box-shadow: 0 0 0px rgba(80, 80, 80, 0);
  }
}

.ordering__submit {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 0.62em 0 0.62em 0;
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-animation: btn-attention 8s ease-out infinite both;
          animation: btn-attention 8s ease-out infinite both;
}

.ordering__submit:hover {
  background-color: #000000;
  color: #FFFFFF;
  -webkit-animation: none;
          animation: none;
}

.ordering__submit:active {
  text-shadow: 0 0;
}

@media (max-width: 1264px) {
  .top__content,
  .main,
  .footer__content {
    margin: 0 32px;
  }
}

@media (max-width: 1024px) {
  .top__content,
  .main,
  .footer__content {
    margin: 0 24px;
  }
  .for__content {
    -ms-grid-rows: 268px;
        grid-template-rows: 268px;
    grid-auto-rows: 268px;
    gap: 30px;
  }
  .offers__content,
  .catalog__content {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 38px;
  }
  .offers__item,
  .catalog__item {
    grid-column: span 6;
  }
  .footer__logo {
    display: none;
  }
  .cart {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 64px;
  }
  .goods {
    grid-column: span 12;
  }
  .ordering {
    grid-column: span 6;
  }
}

@media (max-width: 767px) {
  .top__content,
  .main,
  .footer__content {
    max-width: 343px;
    margin: 0 auto;
  }
  .top,
  .for,
  .offers,
  .catalog {
    margin-bottom: 32px;
  }
  .top {
    background-image: url("./img/main_top_tablet.jpg");
    background-position: 28% 0;
  }
  .header {
    height: 57px;
    margin-top: 32px;
    border-bottom: 0;
  }
  .header__search,
  .navigation {
    display: none;
  }
  .header__logo img {
    width: 99px;
  }
  .header__mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .mobile-navigation__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    gap: 32px;
  }
  .facade {
    padding-top: 29px;
    text-align: center;
  }
  .facade__heading {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 59px;
  }
  .facade__slogan {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .facade__link {
    font-size: 14px;
    line-height: 24px;
  }
  .for__heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .for__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 16px;
  }
  .for__item {
    font-size: 28px;
    line-height: 34px;
    height: 375px;
    grid-column: span 1;
  }
  .for__item:nth-of-type(1), .for__item:nth-of-type(2) {
    height: 244px;
    grid-column: span 1;
  }
  .offers__heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .offers__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 24px;
  }
  .offers__item {
    grid-column: span 1;
  }
  .offers__img {
    width: 100%;
  }
  .offers__name {
    font-size: 18px;
    line-height: 22px;
    margin-top: 9px;
    margin-bottom: 8px;
  }
  .offers__desc {
    margin-bottom: 8px;
  }
  .offers__price--now {
    font-size: 18px;
    line-height: 22px;
  }
  .offers__price--before {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
  }
  .catalog__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 24px;
  }
  .catalog__item {
    grid-column: span 1;
  }
  .catalog__img {
    width: 100%;
  }
  .catalog__name {
    font-size: 18px;
    line-height: 22px;
    margin-top: 9px;
    margin-bottom: 8px;
  }
  .catalog__desc {
    margin-bottom: 8px;
  }
  .catalog__price--now {
    font-size: 18px;
    line-height: 22px;
  }
  .catalog__price--before {
    font-size: 18px;
    line-height: 22px;
  }
  .footer {
    min-height: 175px;
    height: 100%;
  }
  .footer__content {
    max-width: 343px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subscribe {
    margin: 32px auto;
  }
  .subscribe__btn {
    margin-bottom: 0;
  }
  .top-catalog {
    background-image: url("./img/catalog_top_tablet.jpg");
    background-position: 0 100%;
  }
  .facade-catalog {
    padding-top: 82px;
  }
  .options__breadcrumbs {
    margin-bottom: 16px;
  }
  .options__breadcrumbs li a,
  .options__breadcrumbs li {
    font-size: 14px;
  }
  .options__select-sort {
    font-size: 14px;
  }
  .top-cart {
    margin-bottom: 44px;
    background-image: url("./img/cart_top_tablet.jpg");
    background-position: 98.32% 0%;
  }
  .facade-cart {
    padding-top: 82px;
  }
  .cart {
    row-gap: 48px;
    margin-bottom: 48px;
  }
  .goods__item {
    gap: 16px;
    margin: 18px 0 0 0;
    padding: 0 0 24px 0;
  }
  .goods__img {
    display: none;
  }
  .goods__info {
    grid-column: 1 / -2;
  }
  .catalog__name {
    margin-top: 0;
  }
  .catalog__desc {
    margin-bottom: 15px;
  }
  .goods__item-interact {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .goods__cart-interact {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 8px;
  }
  .goods__cart-btn--empty, .goods__cart-btn--continue {
    padding: 0.81em 0 0.81em 0;
    width: 164px;
    font-size: 12px;
    line-height: 15px;
  }
  .ordering {
    grid-column: span 12;
  }
  .offers-cart {
    margin-bottom: 48px;
  }
}

@media (max-width: 363px) {
  .top__content,
  .main,
  .footer__content {
    margin: 0 16px;
  }
}
/*# sourceMappingURL=style.css.map */